@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700;900&display=swap');

:root {
  --main-color: #BB7A3B;
  --paragraph-color: #242732;
  --text-color: #4f4f4f;
  --year-color: #BDBDBD;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Slab', sans-serif;
}

main {
  width: 80%;
  margin: 0 auto;
  padding: 2rem 4rem;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

section {
  width: 45%;
  margin: 30px 30px 0 0;
}

/* Avatar */
.photo {
  display: flex;
  width: 45%;
  align-items: center;
  justify-content: space-between;
}

img {
  width: 330px;
}

.box {
  width: 50px;
  height: 247px;
  background-color: var(--main-color);
}

/* About */
h1 {
  font-size: 60px;
  font-weight: 700 bold;
  color: var(--main-color);
}

h4 {
  font-weight: 900px;
  color: var(--paragraph-color);
}

.surname{
  font-size: 25px;
  font-weight: normal;
  color: var(--paragraph-color);
}

.profession {
  margin-top: 5px;
  font-size: 12px;
  font-weight: normal;
  color: var(--text-color);
}

p {
  font-size: 12px;
  text-align: left;
  color: var(--text-color);
}

.about-text {
  margin-top: 20px;
}

/* Work-experience */
.work-experience {
  width: 45%;
  margin-top: 20px;
}

.years {
  color: var(--year-color);
}

li {
  margin: 15px 15px 0 0;
  list-style: none;
}